<div class="accountPage">
  <div class="section-header text-center">
    <h1>{{ 'customer.account.title' | t }}</h1>
    {{ 'layout.customer.log_out' | t | customer_logout_link }}
  </div>

  <div class="grid">
    <div class="grid__item medium-up--two-thirds">
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 5 %}
        {% if customer.orders.size != 0 %}

          <table class="responsive-table">
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <td>
                    <span class="bold">Order</span>
                    <span class="skinny">{{ order.name }}</span>
                  </td>
                  <td>
                    <span class="bold">Date</span>
                    <span class="skinny">{{ order.created_at | date: format: 'month_day_year' }}</span>
                  </td>
                  <td>
                    <span class="bold">Payment Status</span>
                    <span class="skinny">{{ order.financial_status_label }}</span>
                  </td>
                  <td>
                    <span class="bold">Fulfillment Status</span>
                    <span class="skinny">{{ order.fulfillment_status_label }}</span>
                  </td>
                  <td>
                    <span class="bold">Total</span>
                    <span class="skinny">{{ order.total_price | money }}</span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endpaginate %}
    </div>
    <div class="grid__item medium-up--one-third">
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <p><a href="/account/addresses" class="btn viewAddresses btn--small">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>
  </div>
</div>
